.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--cor-fundo-base);
}

.topo {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: none;
}

.botaoCriar {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-claro);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
}

.botaoCriar:hover {
  background-color: var(--cor-botao-primario-hover);
}

.controles {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.menuVisualizacao {
  position: relative;
}

.botaoMenu {
  background-color: var(--cor-fundo-card);
  border: 1px solid var(--cor-borda-calendario);
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: var(--cor-texto-principal);
}

.botaoMenu:hover {
  background-color: var(--cor-fundo-hover-calendario);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--cor-fundo-card);
  border: 1px solid var(--cor-borda-calendario);
  border-radius: 8px;
  margin-top: 5px;
  z-index: 10;
  min-width: 120px;
  box-shadow: 0 2px 8px var(--cor-sombra-preta-media);
}

.opcao {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: var(--cor-texto-principal);
}

.opcao:hover {
  background-color: var(--cor-fundo-hover-calendario); 
}

.opcao.ativo {
  background-color: var(--cor-fundo-hover-calendario);
  
}

.botaoHoje {
  background-color: var(--cor-fundo-card);
  border: 1px solid var(--cor-borda-calendario);
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: var(--cor-texto-principal);
}

.botaoHoje:hover {
  background-color: var(--cor-fundo-hover-calendario);
}

.topoEsquerda {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dataGrande {
  font-size: 22px;
  font-weight: 500;
  color: var(--cor-texto-principal);
}

.seta {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--cor-texto-principal);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.seta:hover {
  background-color: var(--cor-sombra-preta-hover);
}

.dataAtual {
  font-size: 14px;
  color: var(--cor-texto-secundario);
  min-width: 150px;
}

.calendarioContainer {
  flex: 1;
  overflow: hidden;
  padding: 0px 20px 20px 20px;
  background-color: var(--cor-fundo-base);
}

.calendarioContainer :global(.fc) {
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--cor-fundo-card);
  border: 1px solid var(--cor-borda-padrao);
  font-family: 'Poppins', sans-serif;
}

.calendarioContainer :global(.fc-col-header-cell) {
  background-color: var(--cor-fundo-base);
  border-color: var(--cor-borda-padrao);
  color: var(--cor-texto-principal);
  font-weight: 600;
}

.calendarioContainer :global(.fc-daygrid-day) {
  border-color: var(--cor-borda-padrao);
}



/*
.calendarioContainer :global(.fc-event) {
  background-color: var(--cor-fundo-hover);
  border-color: var(--cor-fundo-hover);
}
*/

.calendarioContainer :global(.fc-day-today) {
  background-color: var(--cor-fundo-selecao) !important;
}

/*tamanho linha allday*/
.allDayPequeno :global(.fc-timegrid-axis-chunk),
.allDayPequeno :global(.fc-daygrid-body) {
  height: auto !important;
}

.allDayPequeno :global(.fc .fc-timegrid-axis-frame-liquid) {
  min-height: 0 !important;
}

.allDayPequeno :global(.fc-daygrid-day-events) {
  min-height: 0 !important;
}
