.paginaQuestoes {
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  display: flex; /* Adicionado para usar flexbox */
  flex-direction: column; /* Organiza os itens em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  min-height: 100vh; /* Garante que a página ocupe a altura total da viewport */
  background: var(--cor-fundo-pagina); /* Para ter o mesmo fundo da página de simulados */
}

.topo {
  margin-bottom: 24px;
  width: 100%; /* Garante que o cabeçalho ocupe a largura total para centralizar o título */
  text-align: center; /* Centraliza o título */
}

.titulo {
  margin: 0;
  font-size: 2.2em;
  font-weight: 450;
  color: var(--cor-texto-principal);
}

@media (max-width: 860px) {
  .paginaQuestoes {
    padding: 20px;
  }
}